

body, html
  height: 100%

body.stage

.panel
  vbox()

  > article
    box-flex(1)

    overflow: auto
    -webkit-overflow-scrolling: touch

li
    list-style-type:none
    text-align:center
    margin:5px auto
    background-color:red
    border-radius: 5px
    padding:5px
    width:200px

#red
	color:red
	
	

img#mian_desc
	width:120px
	height:120px
	
.p_button	
    background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(0.5, rgba(255, 255, 255, 0.40)), color-stop(0.5, rgba(255, 255, 255, 0.00))), #F6F6F7
    padding: 4px 10px 4px
    margin-bottom: 0
    font-size: 13px
    line-height: 18px
    color:  #333
    text-align: center
    text-shadow: 0 1px 1px 
    rgba(255, 255, 255, 0.75)
    vertical-align: middle
    background-image: -o-linear-gradient(top, white, #E6E6E6)
    background-image: linear-gradient(top, white, #E6E6E6)
    border-radius: 5px
	

@import './theme'


body.stage > article
  bottom: 80px;
